html{
  width: 100%;
  height: 100%;
  background: #f0f5f5;
}
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
html, body, section {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  min-width: 1270px;
  color: black;
  font-family: 'Lucida Sans Unicode', sans-serif;
}
header {
  text-align: center;
  width: 100%;
}
h1, h2 {
  margin: 0;
  font-weight: 700;
}
h1 {
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  font-size: 1.8em;
  text-transform: uppercase;
  padding: 20px 0;
}
h2{
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  padding-bottom: 20px;
}
h3{
  margin: 0;
  font-weight: normal;
}
body p {
  margin: 0.75em 0;
  line-height: 2;
  font-size: 0.5em;
}
footer{
  width: 100%;
  font-weight: bold;
  text-align: center;  
  font-size: 70%;
}
header, footer,
section.left, section.right,
div.left, div.right {
  float: left;
  overflow: hidden;
}
section.left {
  width: 300px;
}
section.right {
  width: calc(100% - 300px);
  min-width: 960px;
}
section.center {
  width: 958px;
  border: 1px solid gray;
  box-sizing: content-box;
  overflow: hidden;
  margin: 0 auto;
}
div.left, div.right {
  padding: 5px;
}
div.left{
  width: 348px;
}
div.right{
  width: 610px;
}

div.left > * {
  float: left;
  margin: 3px;
}
hr{
  width: 100%;
}
aside {
  margin-left: 20px;
  border-right: 6px solid #990000;
  background-color: #b3cccc;
  height: 677px;
  float: left;
}
aside p{
  margin-left: 2px;
  margin-right: 7px;
  font-size: 0.8em;
}
aside p::first-letter {
  font-size: 140%;
  color: #990000;
}
aside .t{
  font-weight:bold;
}
aside .p{
  text-align:justify;
}
button.button {
  background-color: #990000; /* Green */
  border: none;
  color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 3px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 3px;
  line-height: 25px;
  height: 25px;
  width: 163px;
  float: right;
}
button.button:hover {
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.48);
}
#button-anim, #input-proc {
  width: 332px;
}
#button-alloc-all {
  clear: right;
}

label{
  width: 210px;
  display: inline-block;
  font-size: 80%
}
input{
  width: 75px;
  display: inline-block
}

#input-algo {
  width: 116px;
}

::-webkit-input-placeholder, /* Chrome/Opera/Safari */
::-moz-placeholder, /* Firefox 19+ */
:-ms-input-placeholder, /* IE 10+ */
:-moz-placeholder { /* Firefox 18- */
  font-size: 8px;
}

p[id^=algo-info] {
  display: none;
  font-size: 10px;
  height: 100px;
}
#input-algo[value=FF] ~ p[id$=FF],
#input-algo[value=BF] ~ p[id$=BF],
#input-algo[value=NF] ~ p[id$=NF],
#input-algo[value=WF] ~ p[id$=WF] {
  display: block;
}

/* 
Created on : 22-Mar-2017, 19:03:09
Author     : Anastasija
*/
