
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  padding: 0;
  margin: 0;
}
body {
  color: black;
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 60%;
  text-align: justify;
}

a {
  color: rgb(193, 39, 45);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  text-decoration: none;
}
  a:hover, a:focus {
    color: #6DA89D;
    text-decoration: underline;
  }
header {
  height: 100px;
  background: 100% 0 url(sand_stone.jpg) no-repeat; /* old IE fallback */
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
h1, h2 {
  margin: 0;
  color: rgba(193, 39, 45, 0.7);
  font-weight: bold;
}
h1 {
  padding-top: 0;
  font-family: 'Lucida Console', sans-serif;
  font-size: 3.2em;
  text-transform: uppercase;
  font-style: italic;
}
h1::before {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 10px;
  margin: -20px 20px 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}
h2 {
  display: block;
  color: rgba(255, 255, 230,0.8);
  font-size: 1.6em;
  font-style: italic;
}
h2::before {
  content: " ";
  padding: 35px;
}
h3 {
  margin: 2em 0 0 0;
  color: #6DA89D;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
  font-family: 'Lucida Sans Unicode', sans-serif;
  font-size: 1.8em;
  font-weight: normal;
  text-transform: uppercase;
}
p {
  margin: 0.75em 0;
  line-height: 2;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: rgba(193, 39, 45, 0.4);
    box-shadow: 10px 10px 5px #6DA89D;
}
#myImg:hover {
    opacity: 0.7;
}
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(193, 39, 45, 0.8);
}
.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #6DA89D;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    font-size: 10px;
    background-color: #6DA89D;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -90px;
    text-transform: uppercase;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
div.turp{
    width: 100%
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: rgb(193, 39, 45);
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.page-wrapper {
  position: relative;
}
.summary, .preamble {
  width: 100%;
  margin: 0 auto;
}

.supporting h3, .supporting p {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.summary {
  padding-top: 2em;
}
.summary p {
    width:100%;
}
/* intro block links -- download HTML/CSS */
.intro a, .intro a:visited {
  position: relative;
  display: inline-block;
  color: rgb(193, 39, 45);
  font-family: 'Lucida Sans Unicode', sans-serif;
  text-transform: uppercase;
}
.intro a:hover, .intro a:focus {
  z-index: 2;
  color: #6DA89D;
}
.intro a::before {
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 2px;
  padding: 2px;
  /*color: #a9b995;*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  font-family: 'Lucida Sans Unicode';
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
  .intro a:hover::before {
    color: #fff;
  }
div.benefits {  
  padding-bottom: 3em;
}
div.benefits  {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}
div.benefits::after {
  content: "";
  background: url(sand_stone.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
div.participation {
  padding: 3em 0;
  margin-top: 3em;
  overflow: hidden;
}
div.participation h3, div.benefits h3 {
  margin-top: 0;
}
div.participation p, div.benefits p {
  margin-bottom: 0;
}
abbr{
  border: none;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.02em;
  color:rgb(193, 39, 45) ;
}
abbr:hover{
color: #6DA89D;
   
}
/* shared sidebar styling */

.design-selection ul {
    list-style-type: lower-greek;
    color: #6DA89D;
    margin: 0;
    padding: 0;
    width: 315px;
    background-color: rgba(193, 39, 45, 0.1);
}
.design-selection li {
    color: rgb(193, 39, 45);
    border-top: solid 1px #6DA89D;
    font-style: oblique;
}
.design-selection li:hover {
    color: #6DA89D;
    border-top: solid 1px rgb(193, 39, 45);
    font-style: oblique;
}
.design-selection li a {
    display: block;
    color: #000;
    padding: 15px 5px;
    text-decoration: none;
}
.design-selection li a.active {
color: rgb(193, 39, 45);
}
.design-selection li a:hover:not(.active) {
background-color: rgba(193, 39, 45, 0.3);
color: rgb(193, 39, 45);
}


/* archives navigation */
.design-archives {
  position: absolute;
  right: 0;
  width: 100%;
  margin-top: 500px;
}
.design-archives h3 {
  display: none;
}
.design-archives ul {
  margin: 0;
}
.design-archives li {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}
.design-archives li.viewall {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 71px;
  line-height: 35px;
}
.previous, .next {
  left: 0;
  z-index: 3;
}
.next {
  left: auto;
  right: 0;
}
.design-archives a, .design-archives a:visited {
  background-color: rgba(193, 39, 45, 0.3);
  color: #6DA89D;
}
.design-archives a:hover, .design-archives a:focus {
  color: rgb(193, 39, 45);
  background-color: rgb(193, 39, 45);
}
.design-archives .previous a, .design-archives .next a {
  display: block;
  overflow: hidden;
  width: 70px;
  height: 70px;
  text-indent: 100%;
  text-decoration: none;
  white-space: nowrap;
}
.design-archives .viewall a {
  z-index: 2;
  width: 100%;
  min-height: 70px;
  padding: 12px 0 0 0;
  text-align: center;  
  text-decoration: none;
}
.design-archives a::before {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  text-align: center;
  text-indent: 0;
  font-size: 44px;
  font-family: 'Lucida Sans Unicode';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 70px;
  -webkit-font-smoothing: antialiased;
}
.design-archives .viewall a:hover, .design-archives .viewall a:focus, .design-archives .viewall a:active,
.design-archives a:hover::before, .design-archives a:focus::before, .design-archives a:active::before {
  background-color: rgba(255,255,255,0.25);
  box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
}
.design-archives .previous a::before {
  content: "<";
}
.design-archives .next a::before {
  content: ">";
}

/* resources */
.zen-resources {
  overflow: hidden;
}
.zen-resources li {
  border-top: solid 1px #6DA89D;
  font-style: normal;
}

.zen-resources li:last-child {
  float: none;
  width: auto;
}
/* busting out the credits block */
.supporting .requirements {
  float: none;
  clear: both;
  width: 100%;
  padding-right: 0;
  padding-left: 0;

}
.supporting .requirements a {
  text-decoration: none;
}
.requirements p:last-child {
  padding: 20px;
  margin: 0;
  background-attachment: scroll;
  background-repeat:  no-repeat;
  background-size: cover;
  font-size: 15px;
  text-align: center;
}
.requirements p:last-child a {
  font-style: normal;
}

/* main footer */
footer {
  clear: both;
  padding: 3em 10%;
  color: rgb(193, 39, 45);
  text-align: center;
  font-style: italic;
  height: 100px;
  padding: 20px;
}
footer a {
  font-style: normal;
  display: inline;
  height: 20px;
  width: 20px;
  overflow: hidden;
  width: 10px;
  background-color: rgba(109, 168, 157, 0.4);
  height: 20px;
  padding: 25px;
  color: rgb(193, 39, 45);    
  border-radius: 50%;
  text-align: justify;
  -webkit-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
  -moz-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
  transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
}
 footer a:link, a:visited {
  padding: 15px ;
  text-align: center;
  text-decoration: none;
  box-shadow: 7px 7px 3px rgba(109, 168, 157, 0.7);
}
footer a:hover, a:active {
  padding: 15px 30px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  color: rgb(193, 39, 45);    
}

footer a::before {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  overflow: visible;
  font-size: 10px;
  text-indent: 0;
  font-family: 'Lucida Sans Unicode';
  speak: none;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltips .tooltiptexts {
    visibility: hidden;
    width: 120px;
    background-color: #6DA89D;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
.tooltips .tooltiptexts::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltips:hover .tooltiptexts {
    visibility: visible;
}
.res{
    top: 300px;
    width:100%
}
.res ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(193, 39, 45, 0.1);
    color: black;
}
.res h3{
    display:none;
}
.res li {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
}
.res li a {
    color: black;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.res li a:hover {
   background-color: rgba(193, 39, 45, 0.3);
}
/* low-res CSS */
@media only screen and (max-width: 600px) {

  /* these download links make approximately zero sense
     on a phone without a user-accessible file system. */
  .summary p:last-child {
    display: none;
  }

  /* type adjustments */
  h1 {
    margin-top: 30px;
    font-size: 2.5em;
  }
  h1::before {
    width: 50px;
    height: 50px;
  }
  h2::before {
    padding: 25px;
  }

  .requirements p:last-child {
    padding: 1em 6%;
  }

}


@media only screen and (max-width: 500px) {

  header {
    height: 250px;
    padding-top: 0;
  }
  h1 {
    margin: 0;
  }
  h1::before {
    display: block;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: 0 0 0 -25px;
    padding: 0 0 35px 0;
  }
  h2::before {
    padding: 0;
  }

  .design-archives {
    top: 180px;
  }
  .design-selection li, .zen-resources li {
    padding: 1em 5%;
  }

  footer a {
    margin: 0 0.5em;
  }

}

@media only screen and (max-width: 320px) {

    /* adjusting the site header type size */
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.3em;
    }

    /* linearizing the design list on small screens */
    .design-selection li, .zen-resources li {
        float: none;
        width: 100%;
    }

    /* adjusting footer type, icons */
    .requirements p:last-child {
        font-size: 1.4em;
    }
    footer {
        padding: 2em 5%;
    }
    footer a {
        width: 35px;
        height: 35px;
        padding: 35px 0 0 0;
        margin: 0 0.5em;
    }
    footer a::before {
        font-size: 32px;
    }

}


/* mid-res CSS */
@media only screen and (max-width: 1132px) {
  header {
   /* border-top: solid 10px rgba(19, 67, 71, 0.9);*/
  }
  p, li {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1150px) {

  .requirements p:last-child {
    padding-bottom: 2em;
    padding-top: 2em;
  }

  /* page footer */
  footer {
    padding: 3em 0;
  }
  footer a {
    width: 52px;
    height: 52px;
    padding: 52px 0 0 0;
    margin: 0 2em;
  }
  footer a::before {
    font-size: 48px;
  }
}


/* high-res CSS */
@media only screen and (min-width: 1132px) {
  body {
  background-attachment: scroll;
  background-size: cover;
    font-size: 100%;
  }
  header {
    width: 100%;
    height: 310px;
    padding: 0 10%;
    /*border-top: solid 12px rgba(19, 67, 71, 0.8);*/
    vertical-align: middle;
    text-align: left;
  }

  header::before, header::after {
    display: block;
    content: " ";
    position: absolute;
    z-index: 3;
    top: 9px;
    left: 0;
    width: 100%;
    height: 7px;
   /* background: rgba(0, 39, 43, 0.2);*/
  }
  header::after {
    top: 306px;
    height: 4px;
    /*background: rgba(0, 39, 43, 0.075);*/
  }
  h1 {
    display: inline-block;
    position: relative;
    margin: 15px 0 0 0;
    padding: 60px 0 5px 0;
  }
  h1::before {
    display: inline-block;
    position: relative;
    top: 65px;
    content: "";
    width: 125px;
    height: 125px;
    margin: -65px 40px 0 0;
    background-size: 100%;
    opacity: 0.6;

    -webkit-animation: koan 36000s infinite alternate;
    -moz-animation: koan 36000s infinite alternate;
    animation: koan 36000s infinite alternate;
  }
  h2 {
    display: block;
    margin: 0;
    padding: 5px 0 60px 70px;
  }
  p {
    font-size: 1em;
  }

  /* main layout blocks */
  nav, .supporting {
    display: inline;
  }
  .summary, .preamble, .supporting div, .requirements h3, .requirements p {
    float: left;
    clear: left;
    width: 66%;
    padding: 1em 5% 1em 10%;
  }
  .explanation h3, .explanation p,
  .participation h3, .participation p,
  .benefits h3, .benefits p {
    width: 100%;
  }
  .summary {
    padding-top: 3.25em;
  }
  .requirements h3, .requirements p {
    margin: 0;
    padding-bottom: 0;
  }


  /* coloured cutoff */
  div.participation, div.benefits {
    width: 70%;
    margin: 0;
  }
  /* extra padding at the cutoffs */
  div.participation, div.requirements {
    padding-top: 4em;
  }
  div.explanation, div.benefits {
    padding-bottom: 4em;
  }
  .requirements p:nth-child(5) {
    padding-bottom: 4em;
  }
  .intro h3, .supporting h3 {
    margin-top: 0;
  }
  .intro p:last-child, .supporting p:last-child {
    margin-bottom: 0;
  }
  .requirements p:last-child {
    padding-bottom: 3em;
    padding-top: 3em;
  }
  /* sidebar styling */
  .design-selection, .zen-resources {
    position: absolute;
    top: 700px; 
    right: 0;
    padding: 0 0 10px 0;
    margin: 0;
    overflow: visible;
  }
  .sidebar li {
    float: none;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
  /* select a design */
  .design-selection li:first-child {
    border-top: 0;
  }
  /* archives navigation */
  .design-archives {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
}
  .design-archives nav {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 27%;
  }
  .design-archives li {
    margin: 0;
  }
  .design-archives .viewall a, .design-archives a::before {
    text-decoration: none;
  }

  /* resources navigation */
  .zen-resources {
    position: absolute;
    top: 2000px;
    left: 0;
    /* IZVIETOJUMS*/
    width: 250px;
    background-color: #6DA89D;
  }
  .zen-resources h3 {
    display: none;
  }
  .zen-resources ul {
    width: 300px;
  }
  .zen-resources li {
    padding: 1.5em 0 1.25em 0;
    margin: 0;
  }
  div.design-selection nav{
      max-width: 10px;
  }
}


@media only screen and (min-width: 1150px) {
  /* page footer */
  footer a {
    width: 76px;
    height: 76px;
    padding: 76px 0 0 0;
    margin: 0 3em;
  }
  footer a::before {
    font-size: 72px;
  }
}

/*
  Okay, look, I feel rather awful about this. But due to source order it
  seems like the only way to pull off the separated sidebar. Perhaps
  flexbox is the way forward here, once the syntax settles down a bit.
*/
@media only screen and (min-width: 1120px) {.zen-resources {top: 1490px;}}
@media only screen and (min-width: 1240px) {.zen-resources {top: 1460px;}}
@media only screen and (min-width: 1260px) {.zen-resources {top: 1420px;}}
@media only screen and (min-width: 1320px) {.zen-resources {top: 1390px;}}
@media only screen and (min-width: 1370px) {.zen-resources {top: 1360px;}}
@media only screen and (min-width: 1520px) {.zen-resources {top: 1330px;}}
@media only screen and (min-width: 1812px) {.zen-resources {top: 1300px;}}
@media only screen and (min-width: 1848px) {.zen-resources {top: 1270px;}}
@media only screen and (min-width: 2015px) {.zen-resources {top: 1240px;}}
@media only screen and (min-width: 2115px) {.zen-resources {top: 1210px;}}
@media only screen and (min-width: 2400px) {}


@-webkit-keyframes koan {
    from {
      -webkit-transform: scale(1);
    opacity: 1;
    }
    to {
      -webkit-transform: scale(3);
    opacity: 0;
    }
}
@-moz-keyframes koan {
    from {
      -moz-transform: scale(1);
    opacity: 1;
    }
    to {
      -moz-transform: scale(3);
    opacity: 0;
    }
}
@keyframes koan {
    from {
      transform: scale(1);
    opacity: 1;
    }
    to {
      transform: scale(3);
    opacity: 0;
    }
}

/* high-DPI adjustments */
@media
    (min--moz-device-pixel-ratio: 1.5),
    (-o-min-device-pixel-ratio: 3 / 2),
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5),
    (min-resolution: 1.5dppx) {

    header {
       /* background-image: url(contours@2x.png), url(noise.png), url(gridlines.png), url(huntington.jpg);
        background-size: 50% auto, auto, auto, cover;*/
    }

    .requirements p:last-child {
       /* background-image: url(contours@2x.png), url(gridlines.png), url(noise.png), url(koi.jpg);
        background-size: 100% auto, auto, auto, cover;*/
    }

    /*
        This shouldn't be necessary, but it is. Due to differences in how
        Chrome calculates gradients and % widths / padding, the archives
        spill out of the visual container at some screen sizes.
    */
    .design-archives nav {
        left: 0;
        width: 20%;
    }
}

/* icon fonts */
@font-face {
	font-family: 'verdemoderna';
	src:url('verdemoderna.eot');
	src:url('verdemoderna.eot?#iefix') format('embedded-opentype'),
		url('verdemoderna.woff') format('woff'),
		url('verdemoderna.ttf') format('truetype'),
		url('verdemoderna.svg#verdemoderna') format('svg');
	font-weight: normal;
	font-style: normal;
}                                      
